body {
	background-color: purple;
}

figure {
	text-align: center;
}

figcaption {
	text-align: center;
	font-size: x-large;
	font-family: Times New Roman;
	color: white;
}

details {
	background-color: lightblue;
	font-size: xx-large;
	font-variant: small-caps; 
}

summary {
	background-color: lightblue;
}